<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trace-Q</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Trace-Q</a>
        </div>
      </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Trace-Q trajectory simplifier</h1>
                <div class="dropdown">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="insertEndpoint" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Insert Trajectory</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="simplifyEndpoint" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Simplify</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="queryEndpoint" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Query</button>
                        </li>
                    </ul>
                </div>

                <div id="content">

                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#content').on('click', '#runInsert', function(){
                var chosenTable = "original";
                var data = {};

                $('#inputContainer .input-group').each(function(index){
                    var tableName = $('#tableDropdownButton').text().toLowerCase();
                    var trajectoryID = $('#trajectoryID').val();
                    var longitude = $(this).find('.longitude').val();
                    var latitude = $(this).find('.latitude').val();
                    var timestamp = $(this).find('.timestamp').val().replace("T", " ");

                    if(!data["table"])
                        data["table"] = tableName;

                    if(!data["id"])
                        data["id"] = trajectoryID

                    if(!data["locations"])
                        data["locations"] = [];
 
                    data["locations"].push({
                        timestamp: timestamp,
                        longitude: parseFloat(longitude), 
                        latitude: parseFloat(latitude)    
                    });
                });

                $.ajax({
                    url: 'http://localhost:8080/insert',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successfully inserted:', response);
                    },
                    error: function(error) {
                        console.error('Error inserting data:', error);
                    }
                });
            });

            $('#content').on('click', '#runRangeQuery', function(){ 
                var data = {};

                data["db_table"] = $('#tableDropdownButton').text().toLowerCase();

                data["longitudeMin"] = $('#longitudeMin').val();
                data["longitudeMax"] = $('#longitudeMax').val();

                data["latitudeMin"] = $('#latitudeMin').val();
                data["latitudeMax"] = $('#latitudeMax').val();
                
                data["timestampMin"] = $('#timestampMin').val().replace("T", " ");
                data["timestampMax"] = $('#timestampMax').val().replace("T", " ");

                $.ajax({
                    url: 'http://localhost:8080/db_range_query',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successfully range queried:', response);
                    },
                    error: function(error) {
                        console.error('Error making range query:', error);
                    }
                });
            });


            $(".dropdown-item").click(function() {
                var selectedDropdownItem = $(this).text();

                var selectedDropdownItemID = $(this).attr('id');

                if (selectedDropdownItemID === "insertEndpoint" || selectedDropdownItemID === "queryEndpoint" || selectedDropdownItemID === "simplifyEndpoint") {
                    $("#endpointDropdownButton").text(selectedDropdownItem);
                }
                
                if (selectedDropdownItemID === "originalTable" || selectedDropdownItemID === "simplifiedTable") {
                    $("#tableDropdownButton").text(selectedDropdownItem);
                }
            });

            $('#originalTable').click(function() {
                chosenTable = "original";
                var selectedDropdownItem = $(this).text();
                $("tableDropdownButton").text(selectedDropdownItem);
            });

            $('#simplifiedTable').click(function() {
                chosenTable = "simplified";
                var selectedDropdownItem = $(this).text();
                $("tableDropdownButton").text(selectedDropdownItem);
            });

            $('#insertEndpoint').click(function(){
                var html = `
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mt-2 mb-2" id="tableDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select a table
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="originalTable">Original</a></li>
                             <li><a class="dropdown-item" href="#" id="simplifiedTable">Simplified</a></li>
                        </ul>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Upload file
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3 mt-2">
                                <input type="file" class="form-control" id="fileInput"><br>
                                <button id="uploadButton" class="btn btn-primary rounded">Upload File</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Insert Trajectory point by point
                        </div>
                        <div class="card-body">
                            <div id="inputContainer">
                                <button id="addInput" class="btn btn-primary">Add trajectory</button>
                                <div class="input-group mb-3 mt-2">
                                    <input type="text" placeholder="longitude" aria-label="Longitude" class="form-control longitude">
                                    <input type="text" placeholder="latitude" aria-label="Latitude" class="form-control latitude">
                                    <input type="datetime-local" aria-label="Timestamp" class="form-control timestamp" step="1">
                                    <button class="btn btn-danger deleteInput">Delete</button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary" id="runInsert">Insert trajectory</button>
                        </div>
                    </div>
                `;
                $('#content').html(html);
            });

            var idCounter = 0;
            $('#content').on('click', '#uploadButton', function() {
                var file = $('#fileInput')[0].files[0];
                var tableName = $("#tableDropdownButton").text().toLowerCase();

                if (file && tableName) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        var text = e.target.result;
                        var lines = text.split('\n');
                        var chunkSize = 450;
                        var numChunks = Math.ceil(lines.length / chunkSize);

                        function processChunk(chunkIndex) {
                            var start = chunkIndex * chunkSize;
                            var end = Math.min(start + chunkSize, lines.length);
                            var chunkLines = lines.slice(start, end);
                            var locations = [];

                            chunkLines.forEach(function(line) {
                                var parts = line.trim().split(',');

                                if (parts.length === 4) {
                                    var timestamp = parts[1];
                                    var longitude = parseFloat(parts[2]);
                                    var latitude = parseFloat(parts[3]);

                                    if (!isNaN(longitude) && !isNaN(latitude)) {
                                        var location = {
                                            "timestamp": timestamp,
                                            "longitude": longitude,
                                            "latitude": latitude
                                        };

                                        locations.push(location);
                                    } else {
                                        console.log('Invalid longitude or latitude:', line);
                                    }
                                } else {
                                    console.log('Invalid line format:', line);
                                }
                            });

                            if (locations.length > 0) {
                                var jsonData = {
                                    "db_table": "original",
                                    "id": idCounter.toString(),
                                    "locations": locations
                                };

                                console.log(jsonData);

                                $.ajax({
                                    url: 'http://localhost:8080/insert',
                                    type: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(jsonData),
                                    success: function(response) {
                                        console.log('Data successfully sent for chunk ' + chunkIndex + ':', response);
                                    },
                                    error: function(xhr, status, error) {
                                        console.error('Error for chunk ' + chunkIndex + ':', error);
                                    }
                                });
                            } else {
                                console.log('No valid data to send for chunk ' + chunkIndex);
                            }
                        }

                        for (var i = 0; i < numChunks; i++) {
                            processChunk(i);
                        }
                    };

                    reader.readAsText(file);
                    idCounter++;
                } else {
                    alert('Please select a file and table name.');
                }

            });

            $('#simplifyEndpoint').click(function (){
                var html =`
                      <div class="mb-2">
                        <label for="resolutionScale" class="form-label">Resolution scale</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#resScaleCollapse" aria-expanded="false" aria-controls="resScaleCollapse">Info</button>
                        <div class="collapse" id="resScaleCollapse">
                            <div class="card card-body">
                                The resolution scale (called c in the MRPA paper) describes the number of the intermediate scale.
                                The lower c is, the more error tolerances we will have; thereby we have more simplified trajectories
                                to choose from. Additionally, the more error tolerances, the less the difference is between them.
                            </div>
                        </div>
                        <input type="number" class="form-control" id="resolutionScale" value="2.0">
                    </div>
                    <div class="mb-2">
                        <label for="minQueryAccuracy" class="form-label">Min query accuracy</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#minQueryAccCollapse" aria-expanded="false" aria-controls="minQueryAccCollapse">Info</button>
                        <div class="collapse" id="minQueryAccCollapse">
                            <div class="card card-body">
                                The minimum query accuracy that the simplification method must uphold.
                            </div>
                        </div>
                        <input type="number" class="form-control" id="minQueryAccuracy" value="0.95">
                    </div>
                    <div class="mb-2">
                        <label for="rangeQueryGridDensity" class="form-label">Range query grid density</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#rangeQueryGridDenCollapse" aria-expanded="false" aria-controls="rangeQueryGridDenCollapse">Info</button>
                        <div class="collapse" id="rangeQueryGridDenCollapse">
                            <div class="card card-body">
                                Factor describing how close points appear in the grid for range queries.
                                Lower values cause points to be more densely packed, thus increasing the number of queries
                                Possible values: 0.2, 0.05
                            </div>
                        </div>
                        <input type="number" class="dropdown form-control" id="rangeQueryGridDensity" value="0.1">
                    </div>
                    <div class="mb-2">
                        <label for="knnQueryGridDensity" class="form-label">KNN query grid density</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#knnQueryGridDenCollapse" aria-expanded="false" aria-controls="knnQueryGridDenCollapse">Info</button>
                        <div class="collapse" id="knnQueryGridDenCollapse">
                            <div class="card card-body">
                                Factor describing how close points appear in the grid for range queries.
                                Lower values cause points to be more densely packed, thus increasing the number of queries
                                Possible values: 0.2, 0.05
                            </div>
                        </div>
                        <input type="number" class="form-control" id="knnQueryGridDensity" value="0.1">
                    </div>
                    <div class="mb-2">
                        <label for="windowsPerGridPoint" class="form-label">Windows per grid point</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#windowsPerGridPointCollapse" aria-expanded="false" aria-controls="windowsPerGridPointCollapse">Info</button>
                        <div class="collapse" id="windowsPerGridPointCollapse">
                            <div class="card card-body">
                               Number of windows we will create for each grid point.
                               Only relevant to range queries, as these use windows
                               Increases to this value will increase the number of queries.
                            </div>
                        </div>
                        <input type="number" class="form-control" id="windowsPerGridPoint" value="3">
                    </div>
                    <div class="mb-2">
                            <label for="windowExpansionRate" class="form-label">Window expansion rate </label>
                            <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#windowExpansionRateCollapse" aria-expanded="false" aria-controls="windowExpansionRateCollapse">Info</button>
                        <div class="collapse" id="windowExpansionRateCollapse">
                            <div class="card card-body">
                                The factor which the different windows of a grid point will scale.
                                This factor will be applied to the previous window's longitude and latitude to create the new window
                                The first window will have longitude and latitude corresponding to the grid density multiplier.
                                The first window for a grid point can also be smaller, i.e use the expansion rate reversely.
                                Possible values: 1.3, 2
                            </div>
                        </div>
                        <input type="number" class="form-control" id="windowExpansionRate" value="1.3">
                    </div>
                    <div class="mb-2">
                        <label for="rangeQueryTimeInterval" class="form-label">Range Query Time Interval</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#rangeQueryTimeIntervalCollapse" aria-expanded="false" aria-controls="rangeQueryTimeIntervalCollapse">Info</button>
                        <div class="collapse" id="rangeQueryTimeIntervalCollapse">
                            <div class="card card-body">
                                The factor that will be used to scale time intervals for each window in range queries.
                                Lower values will result in more queries.
                                Possible values: 0.1, 1
                            </div>
                        </div>
                        <input type="number" class="form-control" id="rangeQueryTimeInterval" value="0.2">
                    </div>
                    <div class="mb-2">
                        <label for="knnQueryTimeInterval" class="form-label">KNN query time interval</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#knnQueryTimeIntervalCollapse" aria-expanded="false" aria-controls="knnQueryTimeIntervalCollapse">Info</button>
                        <div class="collapse" id="knnQueryTimeIntervalCollapse">
                            <div class="card card-body">
                                The factor that will be used to scale time intervals for each window in get_ids_from_knn queries.
                                Lower values will result in more queries.
                                Possible values: 0.1, 1
                                Lowest allowed KNN time interval multiplier is 0.02, otherwise number of query time points would be larger
                                than the allowed database connections.
                            </div>
                        </div>
                        <input type="number" class="form-control" id="knnQueryTimeInterval" value="0.03">
                    </div>
                    <div class="mb-2">
                        <label for="knnK" class="form-label">KNN k</label>
                        <button class="btn btn-light float-end mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#knnKCollapse" aria-expanded="false" aria-controls="knnKCollapse">Info</button>
                        <div class="collapse" id="knnKCollapse">
                            <div class="card card-body">
                                Number of nearest neighbours to analyse.
                            </div>
                        </div>
                        <input type="number" class="form-control" id="knnK" value="10">
                    </div>
                    <button type="button" class="btn btn-primary" id="runSimplify">Simplify Trajectory</button>
                `;
                $('#content').html(html);
            });

            $('#content').on('click', '#runSimplify', function(){

                var requestBody = {
                    "resolution_scale": parseFloat($('#resolutionScale').val()),
                    "min_query_accuracy": parseFloat($('#minQueryAccuracy').val()),
                    "range_query_grid_density": parseFloat($('#rangeQueryGridDensity').val()),
                    "knn_query_grid_density":  parseFloat($('#knnQueryGridDensity').val()),
                    "windows_per_grid_point": parseInt($('#windowsPerGridPoint').val()),
                    "window_expansion_rate": parseFloat($('#windowExpansionRate').val()),
                    "range_query_time_interval": parseFloat($('#rangeQueryTimeInterval').val()),
                    "knn_query_time_interval": parseFloat($('#knnQueryTimeInterval').val()),
                    "knn_k": parseInt($('#knnK').val())
                };

                console.log(JSON.stringify(requestBody));
                console.log("before post");
                $.ajax({
                    url: 'http://localhost:8080/run',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestBody),
                    success: function(response) {
                        console.log('Successful simplification:', response);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.error('Error making the simplification:', error);
                    }

                });

            });

            $('#queryEndpoint').click(function(){
                var html = `
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle mt-2 mb-2" id="tableDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <button class="btn btn-secondary dropdown-toggle mt-2 mb-2" id="tableDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Select a table
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="originalTable">Original</a></li>
                            <li><a class="dropdown-item" href="#" id="simplifiedTable">Simplified</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary" id="runQuery">Run Query</button>
    
            $('#rangeQueryEndpoint').click(function(){
                var html = `
                    <button type="button" class="btn btn-primary" id="runRangeQuery">Run</button>
                    <div class="mb-3">
                        <label for="longitudeMin" class="form-label">Longitude Min</label>
                        <input type="number" class="form-control" id="longitudeMin" placeholder="Enter Min Longitude">
                    </div>
                    <div class="mb-3">
                        <label for="longitudeMax" class="form-label">Longitude Max</label>
                        <input type="number" class="form-control" id="longitudeMax" placeholder="Enter Max Longitude">
                    </div>
                    <div class="mb-3">
                        <label for="latitudeMin" class="form-label">Latitude Min</label>
                        <input type="number" class="form-control" id="latitudeMin" placeholder="Enter Min Latitude">
                    </div>
                    <div class="mb-3">
                        <label for="latitudeMax" class="form-label">Latitude Max</label>
                        <input type="number" class="form-control" id="latitudeMax" placeholder="Enter Max Latitude">
                    </div>
                    <div class="mb-3">
                        <label for="timestampMin" class="form-label">Timestamp Min</label>
                        <input type="datetime-local" aria-label="timestampMin" id="timestampMin" class="form-control timestampMin" step="1">
                    </div>
                    <div class="mb-3">
                        <label for="timestampMax" class="form-label">Timestamp Max</label>
                        <input type="datetime-local" aria-label="Timestamp" id="timestampMax" class="form-control timestampMax" step="1">
                    </div>
                `;
                $('#content').html(html);
            });

            $('#knnEndpoint').click(function(){
                var html = `
                    <button type="button" class="btn btn-primary" id="run_KNN">Run</button>
                    <div class="mb-3">
                        <label for="knn_k" class="form-label">K</label>
                        <input type="number" class="form-control" id="knn_k" placeholder="Enter K">
                    </div>
                    <div class="mb-3">
                        <label for="knn_x" class="form-label">X</label>
                        <input type="number" class="form-control" id="knn_x" placeholder="Enter X">
                    </div>
                    <div class="mb-3">
                        <label for="knn_y" class="form-label">Y</label>
                        <input type="number" class="form-control" id="knn_y" placeholder="Enter Y">
                    </div>
                    <div class="mb-3">
                        <label for="timestamp_low" class="form-label">(Optional) Timestamp Low</label>
                        <input type="datetime-local" aria-label="timestamp_low" id="timestamp_low" class="form-control timestamp_low" step="1">
                    </div>
                    <div class="mb-3">
                        <label for="timestamp_high" class="form-label">(Optional) Timestamp High</label>
                        <input type="datetime-local" aria-label="Timestamp" id="timestamp_high" class="form-control timestamp_high" step="1">
                    </div>
                `;
                $('#content').html(html);
            });

            var inputCount = 1;
            $('#content').on('click', '#addInput', function(){
                var newInputGroup = `
                    <div class="input-group mb-3">
                        <input type="text" placeholder="longitude" aria-label="Longitude" class="form-control longitude">
                        <input type="text" placeholder="latitude" aria-label="Latitude" class="form-control latitude">
                        <input type="datetime-local" aria-label="Timestamp" class="form-control timestamp" step="1">
                        <button class="btn btn-danger deleteInput">Delete</button>
                    </div>
                `;
                $('#inputContainer').append(newInputGroup);
            });

            $('#content').on('click', '.deleteInput', function(){
                $(this).closest('.input-group').remove();
            });

            $('#content').on('click', '#runRangeQuery', function(){
                var longitudeMin = $('#longitudeMin').val();
                var longitudeMax = $('#longitudeMax').val();
                var latitudeMin = $('#latitudeMin').val();
                var latitudeMax = $('#latitudeMax').val();
                var timestampMin = $('#timestampMin').val();
                var timestampMax = $('#timestampMax').val();
            });

            $('#content').on('click', '#run_KNN', function(){
                var data = {
                    query_origin: {
                        x: parseFloat($('#knn_x').val()).toFixed(1),  
                        y: parseFloat($('#knn_y').val()).toFixed(1)
                    },
                    db_table: $('#tableDropdownButton').text().toLowerCase(),
                    k: parseInt($('#knn_k').val(), 10)
                };

                var timestamp_low = $('#timestamp_low').val();
                var timestamp_high = $('#timestamp_high').val();

                if(!isNaN(timestamp_low) && !isNaN(timestamp_high)) {
                    data["query_origin"]["t_low"] = timestamp_low;
                    data["query_origin"]["t_high"] = timestamp_high;
                }

                console.log(JSON.stringify(data));
                
                $.ajax({
                    url: 'http://localhost:8080/knn_query',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successful KNN query:', response);
                    },
                    error: function(error) {
                        console.error('Error making KNN query:', error);
                    }
                });
            });
        });
        </script>
</body>
</html>


