<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trace-Q</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">Trace-Q</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1>Trace-Q trajectory simplifier</h1>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mt-2" id="endpointDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select an endpoint
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="insert_endpoint">Insert trajectory</a></li>
                            <li><a class="dropdown-item" href="#" id="range_query_endpoint">Query</a></li>
                            <li><a class="dropdown-item" href="#" id="knn_endpoint">KNN</a></li>
                            <li><a class="dropdown-item" href="#" id="visualize">Visualize</a></li>
                            <li><a class="dropdown-item" href="#" id="reset_db">Reset</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle mt-2 mb-2" id="tableDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select a table</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="original_table">Original</a></li>
                            <li><a class="dropdown-item" href="#" id="simplified_table">Simplified</a></li>
                        </ul>
                    </div>
                    <div id="content">

                    </div>
                    <div id="map" style="height: 400px; display: none;"></div>
                </div>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var iconSize = [13, 20];
        var iconAnchor = [3, 10];
        var popupAnchor = [1, -16];

        var originalIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: iconSize,
            iconAnchor: iconAnchor,
            popupAnchor: popupAnchor,
            shadowSize: [0, 0]
        });

        var simplifiedIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: iconSize,
            iconAnchor: iconAnchor,
            popupAnchor: popupAnchor,
            shadowSize: [0, 0]
        });

        var map = L.map('map').setView([39.71923, 116.78379], 13);

        function resetMap() {
            map.eachLayer(function (layer) {
                map.removeLayer(layer);
            });

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            map.setView([39.71923, 116.78379], 13);
        }

        $(document).ready(function() {
            $('#content').on('click', '#runInsert', function() {
                var data = {};

                $('#inputContainer .input-group').each(function(index) {
                    var db_table = $('#tableDropdownButton').text().toLowerCase();

                    if(db_table == "select a table") {
                        alert("Please select a table");
                        return;
                    }

                    var trajectoryID = $('#trajectoryID').val();
                    var longitude = $(this).find('.longitude').val();
                    var latitude = $(this).find('.latitude').val();
                    var timestamp = $(this).find('.timestamp').val().replace("T", " ");

                    if(!data["db_table"])
                        data["db_table"] = db_table;

                    if(!data["id"])
                        data["id"] = trajectoryID

                    if(!data["locations"])
                        data["locations"] = [];

                    data["locations"].push({
                        timestamp: timestamp,
                        longitude: parseFloat(longitude), 
                        latitude: parseFloat(latitude)    
                    });
                });

                $.ajax({
                    url: 'http://localhost:8080/insert',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successfully inserted:', response);
                    },
                    error: function(error) {
                        console.error('Error inserting data:', error);
                    }
                });
            });

            $('#content').on('click', '#runRangeQuery', function() { 
                var data = {};
                var db_table = $('#tableDropdownButton').text().toLowerCase();

                if(db_table == "select a table") {
                    alert("Please select a table");
                    return;
                }

                data["db_table"] = db_table;

                data["longitudeMin"] = $('#longitudeMin').val();
                data["longitudeMax"] = $('#longitudeMax').val();

                data["latitudeMin"] = $('#latitudeMin').val();
                data["latitudeMax"] = $('#latitudeMax').val();
                
                data["timestampMin"] = $('#timestampMin').val().replace("T", " ");
                data["timestampMax"] = $('#timestampMax').val().replace("T", " ");

                $.ajax({
                    url: 'http://localhost:8080/db_range_query',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successfully range queried:', response);

                        var data = {
                            db_table: db_table,
                            id: response.trajectory_ids[1]
                        }

                        $.ajax({
                            url: 'http://localhost:8080/load_from_id',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(data),
                            success: function(response) {
                                console.log('Successfully got:', response.response_trajectory);
                            },
                            error: function(error) {
                                console.error('Error getting trajectory data:', error);
                            }
                        });
                    },
                    error: function(error) {
                        console.error('Error making range query:', error);
                    }
                });
            });

            $(".dropdown-item").click(function() {
                var selectedDropdownItemID = $(this).attr('id');
                var selectedDropdownItem = $(this).text();

                if(["insert_endpoint", "range_query_endpoint", "knn_endpoint", "visualize", "reset_db"].includes(selectedDropdownItemID)) {
                    $("#endpointDropdownButton").text(selectedDropdownItem);
                    $('#map').css("display", "none");

                    if(["insert_endpoint", "range_query_endpoint", "knn_endpoint"].includes(selectedDropdownItemID)) {
                        $('#tableDropdownButton').css("display", "block");
                    }
                    else {
                        $('#tableDropdownButton').css("display", "none");
                    }
                }
                else if(["original_table", "simplified_table"].includes(selectedDropdownItemID)) {
                    $("#tableDropdownButton").text(selectedDropdownItem);
                }
            });

            $('#original_table').click(function() {
                chosenTable = "original";
                var selectedDropdownItem = $(this).text();
                $("tableDropdownButton").text(selectedDropdownItem);
            });

            $('#simplified_table').click(function() {
                chosenTable = "simplified";
                var selectedDropdownItem = $(this).text();
                $("tableDropdownButton").text(selectedDropdownItem);
            });

            $('#insert_endpoint').click(function() {
                var html = `
                    <button type="button" class="btn btn-primary" id="runInsert">Run</button>
                    <input type="number" aria-label="trajectory ID" id="trajectoryID">
                    <div class="input-group mb-3 mt-2">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                    <div id="inputContainer">
                        <button id="addInput" class="btn btn-primary">Add trajectory</button>
                        <div class="input-group mb-3 mt-2">
                            <input type="text" placeholder="longitude" aria-label="Longitude" class="form-control longitude">
                            <input type="text" placeholder="latitude" aria-label="Latitude" class="form-control latitude">
                            <input type="datetime-local" aria-label="Timestamp" class="form-control timestamp" step="1">
                        <button class="btn btn-danger deleteInput">Delete</button>
                        </div>
                    </div>
                `;
                $('#content').html(html);
            });

            $('#range_query_endpoint').click(function() {
                var html = `
                    <button type="button" class="btn btn-primary" id="runRangeQuery">Run</button>
                    <div class="mb-3">
                        <label for="longitudeMin" class="form-label">Longitude Min</label>
                        <input type="number" class="form-control" id="longitudeMin" placeholder="Enter Min Longitude" min="0">
                    </div>
                    <div class="mb-3">
                        <label for="longitudeMax" class="form-label">Longitude Max</label>
                        <input type="number" class="form-control" id="longitudeMax" placeholder="Enter Max Longitude" min="0">
                    </div>
                    <div class="mb-3">
                        <label for="latitudeMin" class="form-label">Latitude Min</label>
                        <input type="number" class="form-control" id="latitudeMin" placeholder="Enter Min Latitude" min="0">
                    </div>
                    <div class="mb-3">
                        <label for="latitudeMax" class="form-label">Latitude Max</label>
                        <input type="number" class="form-control" id="latitudeMax" placeholder="Enter Max Latitude" min="0">
                    </div>
                    <div class="mb-3">
                        <label for="timestampMin" class="form-label">Timestamp Min</label>
                        <input type="datetime-local" aria-label="timestampMin" id="timestampMin" class="form-control timestampMin" step="1" value="2008-01-01T00:00">
                    </div>
                    <div class="mb-3">
                        <label for="timestampMax" class="form-label">Timestamp Max</label>
                        <input type="datetime-local" aria-label="Timestamp" id="timestampMax" class="form-control timestampMax" step="1" value="2008-01-01T00:00">
                    </div>
                `;
                $('#content').html(html);
            });

            $('#knn_endpoint').click(function() {
                var html = `
                    <button type="button" class="btn btn-primary" id="run_KNN">Run</button>
                    <div class="mb-3">
                        <label for="knn_k" class="form-label">K</label>
                        <input type="number" class="form-control" id="knn_k" placeholder="Enter K">
                    </div>
                    <div class="mb-3">
                        <label for="knn_x" class="form-label">X</label>
                        <input type="number" class="form-control" id="knn_x" placeholder="Enter X">
                    </div>
                    <div class="mb-3">
                        <label for="knn_y" class="form-label">Y</label>
                        <input type="number" class="form-control" id="knn_y" placeholder="Enter Y">
                    </div>
                    <div class="mb-3">
                        <label for="timestamp_low" class="form-label">(Optional) Timestamp Low</label>
                        <input type="datetime-local" aria-label="timestamp_low" id="timestamp_low" class="form-control timestamp_low" step="1">
                    </div>
                    <div class="mb-3">
                        <label for="timestamp_high" class="form-label">(Optional) Timestamp High</label>
                        <input type="datetime-local" aria-label="Timestamp" id="timestamp_high" class="form-control timestamp_high" step="1">
                    </div>
                `;
                $('#content').html(html);
            });

            $('#visualize').click(function() {
                var html = `
                    <button type="button" class="btn btn-primary" id="visualize_all_days_for_id_btn">Visualize all days</button>
                    <div class="mb-3">
                        <label for="trajectory_id" class="form-label">Trajectory ID</label>
                        <input type="number" class="form-control" id="trajectory_id" placeholder="Enter trajectory ID">
                        <label for="date_picker" class="form-label">(Optional) Select a specific date
                        <input type="text" id="date_picker" class="form-control" aria-label="Timestamp" placeholder="Enter a valid ID">
                        <div class="spinner-border text-primary" id="visualization_spinner" role="status" style="display: none"></div>
                    </div>  
                `;
                $('#map').css("display", "block")
                $('#content').html(html);
            });

            $('#reset_db').click(function() {
                var html = ` 
                    <button type="button" class="btn btn-primary" id="run_reset_db_btn">Reset Database</button>
                `;
                $('#content').html(html);
            });

            $('#content').on('click', '#addInput', function() {
                var newInputGroup = `
                    <div class="input-group mb-3">
                        <input type="text" placeholder="longitude" aria-label="Longitude" class="form-control longitude">
                        <input type="text" placeholder="latitude" aria-label="Latitude" class="form-control latitude">
                        <input type="datetime-local" aria-label="Timestamp" class="form-control timestamp" step="1">
                        <button class="btn btn-danger deleteInput">Delete</button>
                    </div>
                `;
                $('#inputContainer').append(newInputGroup);
            });

            $('#content').on('change', '#trajectory_id', function() {
                var dates_with_data = [];

                trajectory_id = Number($('#trajectory_id').val());
                var dates_from_id_request_body = {
                    id: trajectory_id
                };

                $.ajax({
                    url: 'http://localhost:8080/get_dates_from_id',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(dates_from_id_request_body),
                    success: function(response) {
                        console.log('Successfully got:', response);
                        response.dates.forEach(date => {
                            dates_with_data.push(date);
                        });
                        initializeFlatpickr();
                    },
                    error: function(error) {
                        console.error('Error getting dates from id:', error);
                        return;
                    }
                });

                var initializeFlatpickr = function() {
                    flatpickr("#date_picker", {
                        enable: dates_with_data,
                        dateFormat: "Y-m-d",
                        altInput: true,
                        altFormat: "F j, Y",
                        defaultDate: dates_with_data[0],
                        onChange: function(selectedDates, dateStr, instance) {
                            resetMap();
                            $('#visualization_spinner').css("display", "block");
                            
                            var data = {
                                id: trajectory_id,
                                date: dateStr
                            }

                            $.ajax({
                                url: 'http://localhost:8080/load_from_id_date',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(data),
                                success: function(response) {
                                    console.log('Successfully got from ID and date:', response);
                                    
                                    var original_locations = response.original_trajectory.locations;
                                    var simplified_locations = response.simplified_trajectory.locations;
                      
                                    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                        maxZoom: 19,
                                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                    }).addTo(map);

                                    original_locations.forEach((location, index) => {
                                        var marker = L.marker([location.latitude, location.longitude], {icon: originalIcon}).addTo(map);
                                        var timestamp = new Date(0);
                                        timestamp.setUTCSeconds(Number(location.timestamp));
                                        marker.bindPopup(`<b>Original: ${timestamp}</b><br>Long: ${location.longitude} Lat: ${location.latitude}.`).openPopup();
                                        
                                        if (index < original_locations.length - 1) {
                                            var nextLocation = original_locations[index + 1];
                                            var latlngs = [
                                                [location.latitude, location.longitude],
                                                [nextLocation.latitude, nextLocation.longitude]
                                            ];
                                            var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
                                        }
                                    });

                                    simplified_locations.forEach((location, index) => {
                                        var marker = L.marker([location.latitude, location.longitude], {icon: simplifiedIcon}).addTo(map);
                                        var timestamp = new Date(0);
                                        timestamp.setUTCSeconds(Number(location.timestamp));
                                        marker.bindPopup(`<b>Simplified: ${timestamp}</b><br>Long: ${location.longitude} Lat: ${location.latitude}.`).openPopup();
                                        
                                        if (index < simplified_locations.length - 1) {
                                            var nextLocation = simplified_locations[index + 1];
                                            var latlngs = [
                                                [location.latitude, location.longitude],
                                                [nextLocation.latitude, nextLocation.longitude]
                                            ];
                                            var polyline = L.polyline(latlngs, {color: 'orange'}).addTo(map);
                                        }
                                    });
                                    $('#visualization_spinner').css("display", "none");
                                },
                                error: function(error) {
                                    console.error('Error getting data from ID and date:', error);
                                    $('#visualization_spinner').css("display", "none");
                                }
                            });
                        }
                    });
                }; 
            });

            $('#content').on('click', '.deleteInput', function() {
                $(this).closest('.input-group').remove();
            });

            $('#content').on('click', '#visualize_all_days_for_id_btn', function() {
                var trajectory_id = $('#trajectory_id').val();
                if(!trajectory_id.trim().length) {
                    alert("Trajectory ID cannot be an empty value");
                    return;
                }

                $('#visualization_spinner').css("display", "block");

                var trajectory_id = Number($('#trajectory_id').val());

                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                var original_data_request_body = {
                    id: trajectory_id,
                    db_table: "original"
                }

                $.ajax({
                    url: 'http://localhost:8080/load_from_id',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(original_data_request_body),
                    success: function(response) {
                        console.log('Successfully got:', response);
                        var original_locations = response.response_trajectory.locations;
                        original_locations.forEach((location, index) => {
                            var marker = L.marker([location.latitude, location.longitude], {icon: originalIcon}).addTo(map);
                            var timestamp = new Date(0);
                            timestamp.setUTCSeconds(Number(location.timestamp));
                            marker.bindPopup(`<b>${timestamp}</b><br>Long: ${location.longitude} Lat: ${location.latitude}.`).openPopup();

                            if (index < original_locations.length - 1) {
                                var nextLocation = original_locations[index + 1];
                                var latlngs = [
                                    [location.latitude, location.longitude],
                                    [nextLocation.latitude, nextLocation.longitude]
                                ];
                                var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
                            }
                        });
                    },
                    error: function(error) {
                        console.error('Error getting original trajectory data:', error);
                        $('#visualization_spinner').css("display", "none");
                    }
                });

                var simplified_data_request_body = {
                    id: trajectory_id,
                    db_table: "simplified"
                }

                $.ajax({
                    url: 'http://localhost:8080/load_from_id',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(simplified_data_request_body),
                    success: function(response) {
                        console.log('Successfully got:', response);
                        var locations = response.response_trajectory.locations;

                        locations.forEach((location, index) => {
                            var marker = L.marker([location.latitude, location.longitude], {icon: simplifiedIcon}).addTo(map);
                            var timestamp = new Date(0);
                            timestamp.setUTCSeconds(Number(location.timestamp));
                            marker.bindPopup(`<b>${timestamp}</b><br>Long: ${location.longitude} Lat: ${location.latitude}.`).openPopup();

                            if (index < locations.length - 1) {
                                var nextLocation = locations[index + 1];
                                var latlngs = [
                                    [location.latitude, location.longitude],
                                    [nextLocation.latitude, nextLocation.longitude]
                                ];
                                var polyline = L.polyline(latlngs, {color: 'orange'}).addTo(map);
                            }
                        });
                        $('#visualization_spinner').css("display", "none");
                    },
                    error: function(error) {
                        console.error('Error getting simplified trajectory data:', error);
                        $('#visualization_spinner').css("display", "none");
                    }
                });
            });

            $('#content').on('click', '#run_reset_db_btn', function() {
                $.ajax({
                    url: 'http://localhost:8080/reset',
                    type: 'POST',
                    contentType: 'application/json',
                    success: function(response) {
                        console.log('Successful reset the db:', response);
                    },
                    error: function(error) {
                        console.error('Error resetting the DB:', error);
                    }
                });
            });

            $('#content').on('click', '#run_KNN', function() {
                var db_table = $('#tableDropdownButton').text().toLowerCase();

                if(db_table == "select a table") {
                    alert("Please select a table");
                    return;
                }

                var data = {
                    query_origin: {
                        x: parseFloat($('#knn_x').val()),  
                        y: parseFloat($('#knn_y').val())
                    },
                    db_table: db_table,
                    k: parseInt($('#knn_k').val(), 10)
                };

                var timestamp_low = $('#timestamp_low').val();
                var timestamp_high = $('#timestamp_high').val();
                console.log(timestamp_low)
                if(timestamp_low != '' && timestamp_high != '') {
                    data["query_origin"]["t_low"] = timestamp_low;
                    data["query_origin"]["t_high"] = timestamp_high;
                }

                console.log(data);
                
                $.ajax({
                    url: 'http://localhost:8080/knn_query',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        console.log('Successful KNN query:', response);
                    },
                    error: function(error) {
                        console.error('Error making KNN query:', error);
                    }
                });
            });
        });
    </script>
</html> 


